name: Build Farm Al Amal EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install
        run: npm install

      - name: Build
        run: npm run dist

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: FarmAlAmal-Setup
          path: release
